[submodule "ClockworkRuntime/ClockworkRuntime/clockworkCore"]
	path = ClockworkRuntime/ClockworkRuntime/clockworkCore
	url = https://github.com/ClockworkDev/ClockworkCore
[submodule "ClockworkRuntime/ClockworkRuntime/spritesheet"]
	path = ClockworkRuntime/ClockworkRuntime/spritesheet
	url = https://github.com/ClockworkDev/Spritesheet.js
